<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>


	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>


<form action="/" method="POST">
<select id="cat" name="theSelected">
	<option val="car">car</option>
	<option val="phone">phone</option>
</select>


<select id="item" name="secondSelected">
	
</select>

<button>Submit</button>
</form>




	<label>City Name</label>
	<input type="text" id="cityInput" name="city">

	<button id="addCityBTN">Submit</button>


<form action="/addcoolplace" method="POST">
	<select id="theCity" name="cityname">
		<% City.forEach(function(City){ %>
		<option val="<%= City.thecity %>"><%= City.thecity %></option>
		<% }); %>
	</select>

	<label>Place Name</label>
	<input type="text" name="placename">

	<label>Place Address</label>
	<input type="text" name="placeaddress">

	<label>Google Valid map search</label>
	<input type="text" name="googlevalidsearch">

	<button>Submit new place</button>

</form>


<div class="container text-center">
<h1>Find the distance between the two</h1>
<div class="row">
	<div class="col-md-6">
		<h2>From:</h2>
		<select id="fromcity" name="thecityname">
			<% City.forEach(function(city){ %>
				<option val="<%= city.thecity %>"><%= city.thecity %></option>
			<% }); %>
		</select>

		<select id="fromplace" name="thecities">

		</select>
	</div>

	<div class="col-md-6">
	<h2>To:</h2>
	<select id="tocity" name="thecityname">
	<% City.forEach(function(city){ %>
		<option val="<%= city.thecity %>"><%= city.thecity %></option>
	<% }); %>
	</select>
	<select id="toplace" name="thecities">

	</select>
		<button id="distanceBTN">Go</button>
	</div>
</div>

<div class="row">
	<div class="col-md-6" id="themap1">

	</div>
	<div class="col-md-6" id="themap2">

	</div>
</div>

	<div id='toshowmap'>

	</div>


</div>

<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
</body>
</html>